/* You can add global styles to this file, and also import other style files */
// Normalize CSS
@import '~normalize.css/normalize.css';

.page-center {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
